pkgbase = flacidal-bin
	pkgdesc = Free FLAC and hi-res music downloader (Tidal, Qobuz, Amazon, Soulseek, Bandcamp)
	pkgver = 4.14.0
	pkgrel = 1
	url = https://github.com/kushiemoon-dev/FLACidal
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	optdepends = ffmpeg: audio conversion (FLAC/AIFF/ALAC/WAV)
	optdepends = slsk-batchdl: Soulseek (slsk) downloads
	provides = flacidal
	conflicts = flacidal
	options = !strip
	options = !debug
	source = flacidal-4.14.0.AppImage::https://github.com/kushiemoon-dev/FLACidal/releases/download/v4.14.0/flacidal.AppImage
	source = LICENSE-4.14.0::https://github.com/kushiemoon-dev/FLACidal/raw/v4.14.0/LICENSE
	sha256sums = cd2f263d622af5121d7e6665ed534e34c07ea9800f8744c9e2e4217be0cb0e20
	sha256sums = 7576c6620cb1d95a2633595c1bedf85c70541d4ae3c3b2fc31bad8be11a14e67

pkgname = flacidal-bin
